  <!-- Indicators -->

<style>
  .imaging {
    border-radius: 10px;
  }

  #primary_nav_wrap
{
  margin-top:15px
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:#f6f6f6
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}
</style>
  <!-- Wrapper for slides -->

  <nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a href="/">Home</a></li>
  <li><a href="#">Trips</a>
    <ul>
      <li><a href="saintmalo">Saint-Malo</a></li>
      <li><a href="jouy">Jouy-en-Josas</a></li>
      <li><a href="copenhagen">Copenhagen</a></li>
      <li><a href="bologna">Bologna</a></li>
      <li><a href="santorini">Santorini</a></li>
      <li><a href="beirut">Beirut</a></li>
      <li><a href="paris">Paris</a></li>
      <li><a href="rome">Rome</a></li>
      <li><a href="florence">Florence</a></li>
      <li><a href="barcelona">Barcelona</a></li>
      <li><a href="siena">Siena</a></li>



    </ul>
  </li>
  <li><a href="videos">Videos</a></li>

  <li><a href="/about">Why did I do this?</a></li>
</ul>
</nav>


<div style="background-color: #efefef">

  <img class="imaging" style="width: 400px; height: 500px; margin-left: -280px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500756422/1/IMG_0791.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 500px; height: 400px; margin-left: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500756435/1/IMG_0794.jpg", width: 600, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 400px; height: 500px; margin-left: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500756422/1/IMG_0792.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 96%; height: 400px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500756435/1/IMG_6652.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 440px; height: 400px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500756428/1/IMG_0781.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 440px; height: 400px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500756428/1/IMG_0780.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 440px; height: 400px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500756428/1/IMG_0782.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 47%; height: 350px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500756428/1/IMG_0775.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 47%; height: 350px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500756428/1/IMG_0783.jpg", width: 500, height: 100, crop: :fill" alt="0">
   <img class="imaging" style="width: 47%; height: 350px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500756428/1/IMG_0779.jpg", width: 500, height: 100, crop: :fill" alt="0">
 <img class="imaging" style="width: 47%; height: 350px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500756436/1/IMG_0797.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 96%; height: 350px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500756436/1/IMG_6650.jpg", width: 500, height: 100, crop: :fill" alt="0">
</div>

<!-- Controls -->

