<style>
  .imaging {
    border-radius: 10px;
  }

    #primary_nav_wrap
{
  margin-top:15px
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:#f6f6f6
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}
</style>

<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a href="/">Home</a></li>
  <li><a href="#">Trips</a>
    <ul>
      <li><a href="saintmalo">Saint-Malo</a></li>
      <li><a href="jouy">Jouy-en-Josas</a></li>
      <li><a href="copenhagen">Copenhagen</a></li>
      <li><a href="bologna">Bologna</a></li>
      <li><a href="santorini">Santorini</a></li>
      <li><a href="beirut">Beirut</a></li>
      <li><a href="paris">Paris</a></li>
      <li><a href="rome">Rome</a></li>
      <li><a href="florence">Florence</a></li>
      <li><a href="barcelona">Barcelona</a></li>
      <li><a href="siena">Siena</a></li>



    </ul>
  </li>
<li><a href="videos">Videos</a></li>
  <li><a href="/about">Why did I do this?</a></li>
</ul>
</nav>
<div style="background-color: #efefef">
<img class="imaging" style="width: 70%; height: 300px; margin-left: 200px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500904774/bar/IMG_0733.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 500px; height: 600px; margin-left: 150px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500904776/bar/IMG_0692.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 500px; height: 500px; margin-left: 90px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500904762/bar/IMG_0395-COLLAGE.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 95%; height: 300px; margin-left: 40px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500904766/bar/IMG_1240.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 700px; height: 500px; margin-left: 30px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500904767/bar/IMG_0593.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 600px; height: 400px; margin-left: 30px; margin-top: 10px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500904775/bar/IMG_0708.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 300px; height: 400px; margin-left: 20px; margin-top: 10px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500904776/bar/IMG_0729.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 650px; height: 500px; margin-left: 30px; margin-top: 10px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500904772/bar/IMG_0670.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 350px; height: 500px; margin-left: 30px; margin-top: 10px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500904764/bar/IMG_0596.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 95%; height: 400px; margin-left: 30px; margin-top: 10px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500904777/bar/IMG_0437.jpg", width: 500, height: 100, crop: :fill" alt="0">


<img class="imaging" style="width: 600px; height: 400px; margin-left: 30px; margin-top: 10px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500904772/bar/IMG_0639.jpg", width: 500, height: 100, crop: :fill" alt="0">



<img class="imaging" style="width: 380px; height: 400px; margin-left: 30px; margin-top: 10px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500904775/bar/IMG_0606.jpg", width: 500, height: 100, crop: :fill" alt="0">



<img class="imaging" style="width: 300px; height: 300px; margin-left: 30px; margin-top: 10px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500904766/bar/IMG_0586.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 550px; height: 400px; margin-left: 30px; margin-top: 10px" src="
http://res.cloudinary.com/dndos2tlz/image/upload/v1500904764/bar/IMG_0377.jpg", width: 500, height: 100, crop: :fill" alt="0">


<img class="imaging" style="width: 400px; height: 500px; margin-left: 30px; margin-top: 10px" src="
http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500904770/bar/IMG_0582.jpg", width: 500, height: 100, crop: :fill" alt="0">


<img class="imaging" style="width: 350px; height: 500px; margin-left: 30px; margin-top: 10px" src="
http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500904764/bar/IMG_0440.jpg", width: 500, height: 100, crop: :fill" alt="0">


</div>








