<style>
  .imaging {
    border-radius: 10px;
  }

    #primary_nav_wrap
{
  margin-top:15px
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:#f6f6f6
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}
</style>
  <!-- Wrapper for slides -->
<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a href="/">Home</a></li>
  <li><a href="#">Trips</a>
    <ul>
      <li><a href="saintmalo">Saint-Malo</a></li>
      <li><a href="jouy">Jouy-en-Josas</a></li>
      <li><a href="copenhagen">Copenhagen</a></li>
      <li><a href="bologna">Bologna</a></li>
      <li><a href="santorini">Santorini</a></li>
      <li><a href="beirut">Beirut</a></li>
      <li><a href="paris">Paris</a></li>
      <li><a href="rome">Rome</a></li>
      <li><a href="florence">Florence</a></li>
      <li><a href="barcelona">Barcelona</a></li>
      <li><a href="siena">Siena</a></li>



    </ul>
  </li>
<li><a href="videos">Videos</a></li>
  <li><a href="/about">Why did I do this?</a></li>
</ul>
</nav>


<div style="background-color: #efefef">

  <img class="imaging" style="width: 700px; height: 480px; margin-left: -270px; margin-top: 40px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759912/copen/DSC_5131.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 550px; height: 500px; margin-left: 60px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500759987/copen/IMG_1705.jpg", width: 600, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 800px; height: 400px; margin-left: 310px; margin-top: 30px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759927/copen/DSC_5127.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 440px; height: 400px; margin-left: 30px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759958/copen/DSC_5122.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 440px; height: 400px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759888/copen/DSC_5121.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 440px; height: 400px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759895/copen/DSC_5115.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 300px; height: 400px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500759886/copen/IMG_1739.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 47%; height: 350px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759940/copen/DSC_5126.jpg", width: 500, height: 100, crop: :fill" alt="0">
  <img class="imaging" style="width: 300px; height: 380px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500759981/copen/IMG_1715.jpg", width: 500, height: 100, crop: :fill" alt="0">
   <img class="imaging" style="width: 47%; height: 350px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759985/copen/IMG_1709.jpg", width: 500, height: 100, crop: :fill" alt="0">
 <img class="imaging" style="width: 47%; height: 350px; margin-left: 20px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759996/copen/IMG_1702.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 500px; height: 450px; margin-left: 70px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500759996/copen/IMG_1694.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 700px; height: 450px; margin-left: 70px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759983/copen/DSC_5082.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 660px; height: 400px; margin-left: 30px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759927/copen/DSC_5101.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 660px; height: 400px; margin-left: 30px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500759897/copen/DSC_5111.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 95%; height: 400px; margin-left: 30px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1500760008/copen/IMG_1700.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 440px; height: 400px; margin-left: 30px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500759996/copen/IMG_1696.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 400px; height: 500px; margin-left: 30px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500759884/copen/IMG_1743.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 440px; height: 400px; margin-left: 30px; margin-top: 20px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1500759899/copen/IMG_1738.jpg", width: 500, height: 100, crop: :fill" alt="0">
</div>
<!-- Controls -->

