<style>
 .imaging {
    border-radius: 10px;
  }
    #primary_nav_wrap
{
  margin-top:15px
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:#f6f6f6
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}
</style>

<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a href="/">Home</a></li>
  <li><a href="#">Trips</a>
    <ul>
      <li><a href="saintmalo">Saint-Malo</a></li>
      <li><a href="jouy">Jouy-en-Josas</a></li>
      <li><a href="copenhagen">Copenhagen</a></li>
      <li><a href="bologna">Bologna</a></li>
      <li><a href="santorini">Santorini</a></li>
      <li><a href="beirut">Beirut</a></li>
      <li><a href="paris">Paris</a></li>
      <li><a href="rome">Rome</a></li>
      <li><a href="florence">Florence</a></li>
      <li><a href="barcelona">Barcelona</a></li>
      <li><a href="siena">Siena</a></li>



    </ul>
  </li>
<li><a href="videos">Videos</a></li>
  <li><a href="/about">Why did I do this?</a></li>
</ul>
</nav>

<div style="background-color: #efefef">
</div>


<img class="imaging" style="width: 450px; height: 300px; margin-left: -300px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095687/beyh/IMG_4016.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 450px; height: 300px; margin-left: 10px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095684/beyh/IMG_4025.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 450px; height: 300px; margin-left: 10px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095680/beyh/IMG_4034.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 300px; height: 400px; margin-left: 60px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095687/beyh/IMG_4011.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 300px; height: 400px; margin-left: 20px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095682/beyh/IMG_4038.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 300px; height: 400px; margin-left: 20px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095673/beyh/IMG_4012.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 300px; height: 400px; margin-left: 20px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095684/beyh/IMG_4027.jpg", width: 500, height: 100, crop: :fill" alt="0">


<img class="imaging" style="width: 450px; height: 300px; margin-left: 50px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095679/beyh/IMG_4050.jpg", width: 500, height: 100, crop: :fill" alt="0">


<img class="imaging" style="width: 300px; height: 400px; margin-left: 20px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501095676/beyh/IMG_4054.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 500px; height: 400px; margin-left: 20px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095676/beyh/IMG_4051.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 600px; height: 400px; margin-left: 80px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095686/beyh/IMG_4020.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 600px; height: 400px; margin-left: 50px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095685/beyh/IMG_4021.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 600px; height: 400px; margin-left: 80px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095687/beyh/IMG_3986.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 600px; height: 400px; margin-left: 50px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095685/beyh/IMG_3995.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 300px; height: 400px; margin-left: 30px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501095681/beyh/IMG_3991.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 300px; height: 400px; margin-left: 50px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501095685/beyh/IMG_3988.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 300px; height: 400px; margin-left: 50px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501095679/beyh/IMG_3997.jpg", width: 500, height: 100, crop: :fill" alt="0">


<img class="imaging" style="width: 300px; height: 400px; margin-left: 50px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501095680/beyh/IMG_4007.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 500px; height: 400px; margin-left: 300px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501095679/beyh/IMG_4002.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 300px; height: 400px; margin-left: 50px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501095684/beyh/IMG_3996.jpg", width: 500, height: 100, crop: :fill" alt="0">
