<style>
  .imaging {
    border-radius: 10px;
  }
    #primary_nav_wrap
{
  margin-top:15px
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:#f6f6f6
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}
</style>

<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a href="/">Home</a></li>
  <li><a href="#">Trips</a>
    <ul>
      <li><a href="saintmalo">Saint-Malo</a></li>
      <li><a href="jouy">Jouy-en-Josas</a></li>
      <li><a href="copenhagen">Copenhagen</a></li>
      <li><a href="bologna">Bologna</a></li>
      <li><a href="santorini">Santorini</a></li>
      <li><a href="beirut">Beirut</a></li>
      <li><a href="paris">Paris</a></li>
      <li><a href="rome">Rome</a></li>
      <li><a href="florence">Florence</a></li>
      <li><a href="barcelona">Barcelona</a></li>
      <li><a href="siena">Siena</a></li>



    </ul>
  </li>
  <li><a href="videos">Videos</a></li>

  <li><a href="/about">Why did I do this?</a></li>
</ul>
</nav>

<div style="background-color: #efefef">
</div>



<img class="imaging" style="width: 380px; height: 500px; margin-left: -220px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501092318/paris/IMG_9645.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 600px; height: 400px; margin-left: 20px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501092319/paris/Photo_on_3-4-17_at_8.12_PM.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 310px; height: 500px; margin-left: 30px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501092315/paris/IMG_9639.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 550px; height: 400px; margin-left: 70px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501092318/paris/IMG_9383.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 320px; height: 450px; margin-left: 40px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_0/v1501092318/paris/IMG_9380.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 320px; height: 450px; margin-left: 40px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501092321/paris/IMG_8683.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 600px; height: 400px; margin-left: 80px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501092321/paris/IMG_8669.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 300px; height: 400px; margin-left: 20px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501092317/paris/IMG_9385.jpg", width: 500, height: 100, crop: :fill" alt="0">


<img class="imaging" style="width: 300px; height: 400px; margin-left: 20px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501092320/paris/IMG_8686.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 600px; height: 400px; margin-left: 5px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501092319/paris/Photo_on_3-4-17_at_8.14_PM.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 470px; height: 400px; margin-left: 10px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501092320/paris/IMG_8690.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 300px; height: 400px; margin-left: 10px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501092318/paris/IMG_9876.jpg", width: 500, height: 100, crop: :fill" alt="0">

<img class="imaging" style="width: 300px; height: 400px; margin-left: 50px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501092318/paris/IMG_9837.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 300px; height: 400px; margin-left: 30px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501092320/paris/IMG_9340.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 300px; height: 400px; margin-left: 30px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/a_360/v1501092321/paris/IMG_8664.jpg", width: 500, height: 100, crop: :fill" alt="0">
<img class="imaging" style="width: 300px; height: 400px; margin-left: 30px; margin-top: 50px" src="http://res.cloudinary.com/dndos2tlz/image/upload/v1501092320/paris/IMG_0531.jpg", width: 500, height: 100, crop: :fill" alt="0">
